openapi: 3.1.0
info:
  title: Synthefy Tabular Inference API
  version: "1.0.0"
  description: |
    In-context learning model for tabular **regression**, served on Baseten.
    There is no offline training step: every request supplies the context rows
    (`X_train`, `y_train`) and the query rows (`X_test`), and the model conditions
    on the context and predicts targets for the queries in a single forward pass.

    Notes:
    - This deployment is **regression-only**.
    - The first request after a scale-to-zero idle triggers a checkpoint download +
      warmup and can take ~90s; warm requests return in ~1-2s.
    - Invalid requests (missing fields, unsupported task) return **HTTP 400** with
      an object carrying an `error` key.
servers:
  - url: https://model-3m5j7y9w.api.baseten.co
    description: Production deployment (model ID 3m5j7y9w)
security:
  - basetenApiKey: []
paths:
  /environments/production/predict:
    post:
      operationId: predict
      summary: Run an in-context regression prediction
      description: |
        Submit context rows and query rows and receive a predicted value for each
        query row.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PredictRequest"
            examples:
              regression:
                summary: Regression request
                value:
                  task: regression
                  X_train: [[0.0, 1.0], [1.0, 0.0], [0.5, 0.5], [0.2, 0.8]]
                  y_train: [0.1, 0.9, 0.5, 0.3]
                  X_test: [[0.3, 0.7], [0.8, 0.2]]
      responses:
        "200":
          description: A successful regression prediction.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegressionResponse"
              examples:
                regression:
                  summary: Regression response (illustrative output)
                  value:
                    task: regression
                    predictions: [0.3699104921941226, 0.7807573902172393]
        "400":
          description: |
            Invalid request — a required field (`X_train`, `y_train`, `X_test`)
            is missing, or `task` is not a supported (regression) value.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingField:
                  summary: Missing required field
                  value:
                    error: "Missing required field 'X_test'."
                badTask:
                  summary: Unsupported task
                  value:
                    error: "Unsupported task: 'classification'. This deployment is regression-only; use 'regression'."
        "401":
          description: Missing or invalid API key.
        "404":
          description: Unknown model ID or environment in the path.
components:
  securitySchemes:
    basetenApiKey:
      type: apiKey
      in: header
      name: Authorization
      description: |
        Baseten API key, sent as `Authorization: Api-Key <YOUR_KEY>`. The literal
        `Api-Key ` prefix is required as part of the header value.
  schemas:
    Task:
      type: string
      description: Prediction task. Regression-only; defaults to `regression` when omitted.
      enum: [regression, reg]
      default: regression
    PredictRequest:
      type: object
      required: [X_train, y_train, X_test]
      properties:
        task:
          $ref: "#/components/schemas/Task"
        X_train:
          type: array
          description: Context feature matrix, n_context x n_features.
          items:
            type: array
            items:
              type: number
        y_train:
          type: array
          description: Context targets aligned with `X_train` rows (numeric).
          items:
            type: number
        X_test:
          type: array
          description: Query feature matrix, n_query x n_features.
          items:
            type: array
            items:
              type: number
      additionalProperties: false
    RegressionResponse:
      type: object
      required: [task, predictions]
      properties:
        task:
          type: string
          const: regression
        predictions:
          type: array
          description: Predicted value per `X_test` row.
          items:
            type: number
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
      additionalProperties: false
